.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin-bottom: .5rem;
  }
  .info {
    strong {
      margin-left: 1rem;
    }
    small {
      margin-left: 2rem;
    }
  }
}
