<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
      class="form-control">
      <label for="title">Title:</label>
      <input
        formControlName="title"
        id="title"
        type="text">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
        class="validation">
        <small *ngIf="form.get('email').errors.required">
          enter title for post
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary"
            type="submit"
            [disabled]="form.invalid || submitted"
    >Save
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>

