<nav class="navbar main header">
  <h1>Blog</h1>
  <button
    [routerLink]="['/admin', 'login']"
    class="btn btn-dark"
  >Go to admin page</button>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
