<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login to admin</h2>

  <div class="alert alert-danger" *ngIf="auth.errors$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email:</label>
    <input
      formControlName="email"
      id="email"
      type="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">
        enter email
      </small>
      <small *ngIf="form.get('email').errors.email">
        enter email type 'login@mail.com'
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">Password:</label>
    <input
      formControlName="password"
      id="password"
      type="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors.required">
        enter password
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        The length > 6
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Signin</button>

</form>
